
<div class="panel panel-default">
    <div class="panel-heading">
        <h5><b>Alumni</b></h5>
    </div>
    <div class="panel-body">
        @Html.Action("AlumniGridViewPartial")
    </div>
</div>
